[package]
name = "wheres_my_pi"
version = "0.1.1"
authors = ["llamicron <llamicron@gmail.com>"]
edition = "2018"

[dependencies]
reqwest = "0.9.20"
pnet = "0.22.0"
dirs = "2.0.2"

# Size optimizations
[profile.release]
opt-level = 'z'
lto = true
panic = 'abort'
